@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300;1,400&family=Sigmar&display=swap');

:root{
    --main-color: #0066FF;
    --main-transition: .5s;
    --overlay-color: #8080804f;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none !important;
}
a,
a:hover{
    text-decoration: none !important;
    color: white !important;
}
textarea {
    resize: none;
}
svg{
    font-size: 10cqw;
    cursor: pointer;
}
.navbar-container,
.footer-container,
.posts-main-container,
.posts-containers{
    transition: var(--main-transition);
}
/* Start Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
    border: 10px solid black;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(222, 222, 223, 0.678);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}
/* for Firefox */
html {
    scrollbar-color: rgba(222, 222, 223, 0.678) black;
}
/* End Scrollbar */

/* Start Custom classes */
.opacity-hover:hover{
    transition: .3s;
    background-color: var(--overlay-color);
}
/* End Custom classes */

/* Start Main */
.main-content-container{
    background-image: url(../public/images/wave-haikei.svg);
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center;
}
.input-group textarea{
    border: 1px solid gray;
}
.input-group textarea:focus{
    border: 1px solid var(--main-color);
}
.posts-containers{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    place-content: center;
}
/* End Main */

/* Start footer */
footer div p,
footer div p span{
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
}
/* End footer */